<div class="container my-4">
  <h2 class="text-center mb-4 fw-bold">🏆 Leaderboard App</h2>

  <div class="row gy-4">
    <div class="col-lg-6 col-12">
      <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body">
          <app-user-list></app-user-list>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-12">
      <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body">
          <app-leaderboard></app-leaderboard>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card shadow-sm border-0 rounded-4 mt-4">
        <div class="card-body">
          <app-claim-history></app-claim-history>
        </div>
      </div>
    </div>
  </div>
</div>
